*{
    margin: 0;
    padding: 0;
    background-color: wheat;
}

.taskbar{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: end;
    background-color: black;
    color: aliceblue;
    height: 10vh;
}

.taskbar h1{
    background-color: transparent;
}